<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test30">

    <uses-permission android:name="android.permission.INTERNET" />//인터넷 사용 허용

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test30">
        <activity android:name="SubActivity"/>
        <activity android:name="AnounceActivity"/>
        <activity android:name="MainActivity"/>
        <activity android:name="GuneActivity"/>
        <activity android:name="SettingActivity"/>
        <activity android:name="CreateIdActivity"/>
        <activity android:name="GongjiSubActivity"/>
        <activity android:name="FindIdActivity"/>
        <activity android:name="FindPwActivity"/>
        <activity android:name="FindPw1Activity"/>
        <activity android:name="FindPw2Activity"/>
        <activity android:name="MainActivity2"/>
        <activity android:name="MainActivity3"/>
        <activity android:name="GongjiInsertActivity"/>
        <activity android:name="GongjiUpdateActivity"/>
        <activity android:name="GongjiOpinionActivity"/>

        <activity
            android:name=".StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>